#page-container {
    position: relative!important;
    min-height: 100vh!important;
}

#content-wrap {
    padding-bottom: 2.5rem!important;
}

#footer {
    position: absolute!important;
    bottom: 0!important;
    width: 100%!important;
    height: 2.5rem!important;
}